/* .headerContainer{
 width:100vw; 
}
.header {
  /* max-width: 100%;
  max-height: 100%;
  display: block; */
  /* width: 100vw;
  height: 100%; */
  /* max-inline-size: 100%;
  block-size: auto; */
  /* zoom:2; 
} */
.headersm{
  display: none;
}
.logoContainer{
  display: none;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4vw;
}
.title {
  line-height: 56px;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0;
  width: 70vw;
}

.title,
.description {
  text-align: center;
}

.description {
  font-family: "DM sans";
  color: #706E69;
  line-height: 1.5;
  font-size: 20px;
}

.reminder {
  display: flex; 
  font-family: "DM sans";
  color: black;
  font-size: 14px;
  padding-bottom: 1vh;
}
.red{
  color: red;
}
.black {
  color: black;
}
.backBtn{
  display: none;
}
.nextBtn{
  background-color: #1D99BE;
  color: white;
  margin-top: 1vh;
  border-radius: 0;
  height: 86px;
  padding-bottom: 3vh;
  /* position: fixed;
  vertical-align: bottom; */
  /* float: inline-end; */
}
.theme{
  display: flex;
  justify-content: center;
  align-content: center;
}
.card{
  box-shadow: none;
  background-color: rgb(252,250,245);
}
@media (min-width: 575px) {
  .logoContainer{
    display: flex;
  }
  .card{
    width: 440px;
    background-color: white;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 16px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
  .reminder {
    margin-bottom: 16px;
  }
  .btnBox {
    display: flex;
    width: 440px;
    margin: 0 auto;
    padding: 1vh 0;
    align-items: center;
  }
  .backBtn{
    display: flex;
    border: .5px solid grey;
    border-radius: 16px;
    height: 56px;
    margin-right: 1vw;
  }
  .nextBtn{
    margin-top: 0;
    border-radius: 16px;
    height: 56px;
    padding: 0;
  }
  .headerxs{
    display: none;
  }
  .headersm {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .card {
    width: 592px;
  }
  .btnBox {
    width: 592px;
  }
}